<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type= "text/css" href="staticpages.css">
    <title>output.app</title>
</head>

<body>
    <header>
        <a href="">
            <img src="" alt="">
        </a>
        <div>
            <h4>学習の記録</h4>
        </div>
        <div>
            <ul>
                <li>
                    <%= link_to "プロフィール", staticpages_index_path%>
                    <%= link_to "アウトプット", staticpages_show_path%>
                    <%= link_to "ニュース", staticpages_news_path%>
                </li>
            </ul>
        </div>
    </header>
    <main>
        #メインタイトル
        <div>
            <h1>学習記録サイト</h1>
        </div>

        #アウトプット
        <div>
            <div>
                <a href="">aaa</a>
            <div>
            <div>
                <a href="">bbb</a>
            </div>
            <div>
                <a href="">ccc</a>
            </div>
        </div>
        #ニュース
        <div>
            <div>
                <a href="">aaa</a>
            <div>
            <div>
                <a href="">bbb</a>
            </div>
            <div>
                <a href="">ccc</a>
            </div>
        </div>
    </main>

</body>

</html>
